<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="员工总数" value="200" />
    <!--不能小于实际员工数-->
    <add key="考勤工作表" value="蓝牙考勤" />
    <!--考勤记录的sheet名-->
    <add key="异常工作表" value="考勤异常统计" />
    <!--生成的异常sheet名-->
    <add key="行政班名单" value="曹可生，孙龙起，黄水珍，尹绍翠，李阳洋，张文东，霍小碧，潘雨珊，刘炬滨，朱云龙" />
    <!--用中文逗号隔开-->
    <add key="earliestBeginA" value="4:30" />
    <add key="latestBeginA" value="6:20" />
    <add key="earliestEndA" value="14:00" />
    <add key="latestEndA" value="17:00" />
    <add key="earliestBeginB" value="12:00" />
    <add key="latestBeginB" value="14:00" />
    <add key="earliestEndB" value="22:00" />
    <add key="latestEndB" value="2:00" />
    <add key="earliestBeginC" value="16:30" />
    <add key="latestBeginC" value="21:00" />
    <add key="earliestEndC" value="1:00" />
    <add key="latestEndC" value="5:00" />
    <add key="earliestBeginD" value="7:30" />
    <add key="latestBeginD" value="8:30" />
    <add key="earliestEndD" value="18:00" />
    <add key="latestEndD" value="18:00" />
    <add key="beginOffset" value="1:30" />
    <add key="endOffset" value="4:00" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>