<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="员工总数" value="200"/>
    <!--不能小于实际员工数-->
    <add key="单人最多记录条数" value="7200"/>
    <!--每个员工最多有多少次记录-->  
    <add key="考勤工作表" value="蓝牙考勤"/>
    <!--考勤记录的sheet名-->
    <add key="异常工作表" value="考勤异常统计"/>
    <!--生成的异常sheet名-->
    <add key="显示重复签到" value="否"/>
    <!--是或者否-->
    <add key="显示迟到早退" value="否"/>
    <!--是或者否-->


    <add key="A班名单" value=""/>
    <!--用中文逗号隔开-->
    <add key="B班名单" value=""/>
    <!--用中文逗号隔开-->
    <add key="C班名单" value="宋美芳，邱孝美，潘美英，李四新，孙道国，胡卫庆"/>
    <!--用中文逗号隔开-->
    <add key="D班名单" value="叶康玲，刘永雄，艾建兴，蒋昌明，卢西  "/>
    <!--用中文逗号隔开-->
    <add key="E班名单" value="周善珍"/>
    <!--用中文逗号隔开-->
    <add key="行政班名单" value="潘雨珊，李阳洋，周伟，李君鹏 ，侯存乾，范素会"/>
    <!--用中文逗号隔开-->

    <add key="A班上班时间" value="6:30"/>
    <add key="A班下班时间" value="14:30"/>

    <add key="B班上班时间" value="14:30"/>
    <add key="B班下班时间" value="22:30"/>

    <add key="C班上班时间" value="22:30"/>
    <add key="C班下班时间" value="6:30"/>

    <add key="D班上班时间" value="7:00"/>
    <add key="D班下班时间" value="19:00"/>

    <add key="E班上班时间" value="19:00"/>
    <add key="E班下班时间" value="7:00"/>

    <add key="行政班上班时间" value="8:30"/>
    <add key="行政班下班时间" value="17:30"/>

    <add key="上班时间容错区间" value="1:30"/>
    <add key="下班时间容错区间" value="4:00"/>

    <add key="最大加班时常" value="8:00"/>

    <add key="迟到浮动时间" value="0:10"/>
    <!--晚到不计入-->
    <add key="早退浮动时间" value="0:10"/>
    <!--早退不计入-->

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
